<h3>Post details:</h3>

<p>
  <%= @result['content'] %><br><hr>
  Добавлено <%= @result['created_date'] %>
</p>
<br>

<h4>Comments:</h4>
<p>
  <form action="/details/<%= @result['id']%>" method="POST">
    <div class="form-group">
      <textarea class="form-control" rows="3" name="content" placeholder="Type your comment"></textarea>
    </div>
    <button type="submit" class="btn btn-danger">Add comment</button>
  </form>
</p>

<h4>Комментарии:</h4>
  <% @comments.each do |row|%>
    <br>
    <h5><%= row['content'] %></h5>
    <span><%= row['created_date'] %></span><hr>
    
  <% end %>
